.App {
  text-align: center;
  
 
}
.inputCard{
  background-color: rgb(170, 201, 208);
  width: 320px;
  margin: auto;
  height: 380px;
  border-radius: 20px;
  margin-top: 6%;
  box-shadow: 0px 0px 3px black;
  >h2{
    color:rgb(164, 54, 144);
    /* background-color: aqua; */
    padding-top: 30px;
  }
  .edit{
    color: rgb(252, 33, 33);
  }
}
.inputCard:hover{
   box-shadow: 1px 1px 8px black;
}
form{
  margin-top: 30px;
}
input{
  height: 30px;
  margin-bottom: 25px;
  min-width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 17px;
}
.ab {
  padding: 10px;
  margin-right: 10px;
  width: 75px;
  font-size: 15px;
  margin-top: 20px;

}
.a{
  background-color: rgb(61, 200, 61);
  border: none;
  outline: none;
  border-radius: 5px;
}
.a:active{
  transform: scale(1.1);
}
.a:hover{
    background-color: rgb(6, 157, 6);
}
.b:hover{
    background-color: rgb(227, 21, 21);
}
.b{
  background-color: rgb(215, 111, 111);
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
}
.b:active{
  transform: scale(1.1);
}
.container{
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 255, 255);
  height: auto;
  align-items: center;
  justify-content: center;

}
.adbtn{
  background:blue;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
.adbtn:hover{
 opacity: .8;
  transform: scale(1.01);
}
.incon{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(254, 254, 254);
  color: blue;
  width: 100%;
  position: sticky;
  box-shadow: 1px 0px 5px black;
  top: 0;
  /* left: 100px; */
  >h3{
    color: rgb(21, 129, 237);
    font-size: 25px;
  }
}